body {
  .at-expanding-share-button .at-expanding-share-button-services-list > li {
    height: 40px !important;
  }

  .at-expanding-share-button .at-share-btn {
    height: 30px !important;
  }

  .at-expanding-share-button .at-icon-wrapper {
    height: 30px !important;
    line-height: 30px !important;
    width: 30px !important;
  }

  .at-expanding-share-button .at-icon {
    height: 25px !important;
    margin: 3px 0 !important;
    width: 25px !important;
  }

  .at-expanding-share-button.at-expanding-share-button-mobile .at-expanding-share-button-toggle {
    height: 30px !important;
  }

  .at-expanding-share-button.at-expanding-share-button-mobile .at-expanding-share-button-toggle-bg,
  .at-expanding-share-button.at-expanding-share-button-mobile .at-expanding-share-button-toggle-bg span {
    height: 30px !important;
    line-height: 30px !important;
    width: 30px !important;
  }

  .at-expanding-share-button.at-expanding-share-button-mobile .at-expanding-share-button-toggle-bg,
  .at-expanding-share-button.at-expanding-share-button-mobile .at-expanding-share-button-toggle-bg span {
    height: 30px !important;
    line-height: 30px !important;
    width: 30px !important;
  }

  .at-expanding-share-button.at-expanding-share-button-mobile .at-expanding-share-button-click-flash {
    height: 30px !important;
    width: 30px !important;
  }

  .at-expanding-share-button .at-expanding-share-button-toggle-bg > span {
    background-size: 85% !important;
    background-color: #3f51b5 !important;
  }
}
