body {
	#bmc-wbtn {
		width: 30px !important;
		height: 30px !important;
		border-radius: 50% !important;

		img {
			height: 20px !important;
			width: 20px !important;
		}

		&.animate {
			&::before {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				background: #fff !important;
				animation-delay: 0.4s;
				border-radius: inherit;
				animation: bigger-wave 2s ease-out infinite;
			}
		}
	}
}

@media only screen and (min-width: 800px) {
	body {
		#bmc-wbtn {
			width: 50px !important;
			height: 50px !important;
			left: initial !important;
			right: 10px !important;

			img {
				height: 35px !important;
				width: 35px !important;
			}
		}
	}

	iframe {
		left: initial !important;
		right: 10px !important;
	}
}
