<article fxLayout="column"
         fxLayoutAlign="center center">
  <h2 class="margin-top-md margin-bottom-sm"
      [ngStyle]="{'text-transform': 'uppercase', 'font-size': '29px'}"
      [ngStyle.lt-md]="{'font-size': '22px'}"
      [ngClass.lt-md]="'margin-top-sm margin-bottom-zero'">Mortgage Expense Calculator</h2>

  <div fxLayout="row"
       fxLayoutAlign="center center"
       [ngClass]="'margin-top-sm'">
    <div fxFlex="0 1 80"
       [ngStyle]="{'line-height': '29px'}"
       [ngStyle.lt-md]="{'font-size': '15px', 'line-height': '26px'}">
      <p class="margin-bottom-zero">
        Buying a property is a big investment in our lives.
      </p>

      <p class="margin-bottom-zero">
        Most people are not sure what amount of money they need to have upfront for buying a property with a mortgage.
      </p>

      <p class="margin-bottom-zero">
        'Mortgage Expense Calculator' is a web application to use of calculating estimated mortgage expenses when you buy a
        property.
        <button *ngIf="!show"
                mat-button
                color="primary"
                class="read-more"
                [ngStyle.gt-xs]="{'display': 'none'}"
                (click)="showMore()">Read more...</button>
      </p>

      <p *ngIf="show" class="margin-bottom-zero">
        Simply enter the mortgage amount that you are going to get below and click the calculate button to see the estimated
        expense amount that you need to have for buying your property of dreams.
      </p>
    </div>
  </div>

  <div class="margin-top-md"
       [ngClass.lt-md]="'margin-top-sm'">
    <mat-form-field [ngStyle]="{'font-size': '24px'}"
                    [ngStyle.lt-md]="{'font-size': '20px'}">
      <mat-label [style.fontSize.px]="20">Mortgage Amount</mat-label>

      <span matPrefix>€ &nbsp;</span>

      <input matInput
             type="tel"
             inputmode="number"
             pattern="[0-9]*"
             mask="separator"
             thousandSeparator=","
             [(ngModel)]="value"
             (keydown.enter)="setCalculationState()">

      <button *ngIf="value"
              mat-button
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="value=null">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="margin-top-lg"
       [ngClass.lt-md]="'margin-top-sm'">
    <button *ngIf="!isCalculate"
            mat-raised-button
            color="primary"
            (click)="setCalculationState()">CALCULATE
    </button>
  </div>

  <app-results *ngIf="isCalculate"
               fxFill
               fxLayout="row"
               [mortgageValue]="value"
               [calculateState]="isCalculate"
               class="margin-bottom-lg"
               fxLayoutAlign="center center"></app-results>

  <button *ngIf="isCalculate"
          mat-icon-button
          color="primary"
          [ngClass.lt-md]="'margin-bottom-md'"
          class="margin-bottom-lg"
          id="scrollToPoint"
          matTooltip="Clear page"
          [matTooltipPosition]="'right'"
          (click)="refreshPage()">
    <mat-icon>refresh</mat-icon>
  </button>
</article>

