<article fxLayout="column"
         fxLayoutAlign="center center">
  <h2 class="margin-top-md margin-bottom-sm"
      [ngStyle]="{'text-transform': 'uppercase', 'font-size': '29px'}"
      [ngStyle.lt-md]="{'font-size': '22px'}"
      [ngClass.lt-md]="'margin-top-sm margin-bottom-zero'">Mortgage Expense Calculator</h2>

  <div fxLayout="row"
       fxLayoutAlign="center center"
       [ngClass]="'margin-top-sm'">
    <p fxFlex="0 1 80"
       [ngStyle]="{'line-height': '29px'}"
       [ngStyle.lt-md]="{'font-size': '13px', 'line-height': '27px'}">
      Buying a property is a big investment in our lives.
      <br>
      Most people are not sure what amount of money they need to have upfront for buying a property with a mortgage.
      <br>
      'Mortgage Expense Calculator' is a web application to use of calculating estimated mortgage expenses when you buy a
      property.
      <br>
      Simply enter the mortgage amount that you are going to get below and click the calculate button to see the estimated
      expense amount that you need to have for buying your property of dreams.
    </p>
  </div>

  <div class="margin-top-md"
       [ngClass.lt-md]="'margin-top-sm'">
    <mat-form-field [ngStyle]="{'font-size': '24px'}"
                    [ngStyle.lt-md]="{'font-size': '20px'}">
      <mat-label [style.fontSize.px]="20">Mortgage Amount</mat-label>

      <label>
        <input matInput
               type="number"
               [(ngModel)]="value"
               inputmode="numeric"
               pattern="[0-9]*">
      </label>

      <button mat-button
              *ngIf="value"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="value=null">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="margin-top-lg"
       [ngClass.lt-md]="'margin-top-sm'">
    <button *ngIf="!isCalculate"
            mat-raised-button
            color="primary"
            (click)="setCalculationState()">CALCULATE
    </button>
  </div>

  <app-results *ngIf="isCalculate"
               fxFill
               fxLayout="row"
               [mortgageValue]="value"
               [calculateState]="isCalculate"
               class="margin-bottom-lg"
               fxLayoutAlign="center center"></app-results>

  <button *ngIf="isCalculate"
          mat-icon-button
          color="primary"
          class="margin-bottom-lg"
          [ngClass.lt-md]="'margin-bottom-md'"
          matTooltip="Return to main page"
          [matTooltipPosition]="'right'"
          (click)="refreshPage()">
    <mat-icon>home</mat-icon>
  </button>
</article>

