<section fxLayout="row"
         fxLayoutAlign="end center"
         fxLayoutGap="5px">
  <a mat-icon-button
     href="https://twitter.com/ExpenseMortgage"
     target="_blank"
     title="Twitter Page">
    <mat-icon class="example-icon"
              svgIcon="twitter"
              inline="true"
              aria-hidden="false"
              aria-label="Twitter icon">twitter
    </mat-icon>
  </a>

  <a mat-icon-button
     href="https://github.com/ofcyln/mortgage-expense-calculator"
     target="_blank"
     title="GitHub Page">
    <mat-icon class="example-icon"
              svgIcon="github"
              inline="true"
              aria-hidden="false"
              aria-label="Github icon">github
    </mat-icon>
  </a>
</section>
