<article fxLayoutAlign="center center"
         [ngStyle.gt-sm]="{'font-size': '22px'}"
         [ngStyle.lt-md]="{'padding-left': '25px', 'padding-right': '25px', 'font-size': '17px'}"
         class="margin-bottom-md loading-text-area">While your PDF report generation is in progress, <br>please share and support us!</article>

<div class="loading">
  <div class="dot" *ngFor="let i of [].constructor(5)"></div>
</div>

<button mat-raised-button
        color="primary"
        [ngClass.lt-md]="'margin-top-md'"
        class="margin-top-lg"
        (click)="loadingService.processFaster()">
  I've shared and/or donated already!
</button>
