<article fxLayoutAlign="center center"
         [ngStyle.gt-sm]="{'font-size': '22px'}"
         [ngStyle.lt-md]="{'padding-left': '25px', 'padding-right': '25px', 'font-size': '17px'}"
         class="margin-bottom-md loading-text-area">'Mortgage Expense Calculator' is an open-source project, and it needs your support!
  <br>Please consider sharing and/or donating.</article>

<article class="countdown-area">{{ loadingService.countDownNumber }}</article>

<button mat-raised-button
        color="primary"
        [ngClass.lt-md]="'margin-top-md'"
        class="margin-top-lg"
        (click)="loadingService.processFaster()">
  I've shared and/or donated already!
</button>
