body {
  height: 100vh;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.no--padding {
  padding: 0 !important;
}

.no--margin {
  margin: 0 !important;
}

.cursor--pointer {
  cursor: pointer;
}

.w-100 {
  width: 100%;
}
